body {
	background-color: black;
	color: white;
	font-family: helvetica;
}

div {
	position: relative;
}

.overlay {
	background-color: #444;
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.overlay:hover {
	opacity: .9;
}

.imgtext {
	vertical-align: middle;
}

table, th {
	font-size: 45px;
}

table, td {
	font-size: 14px;
}

/*table style needs page centering, border*/
table {
	padding: 10px 10px 10px 10px;
	}

ul {
	font-size: 14px;
	padding-top: 15px;
}

img {
	width: 400px;
	height: 400px;
}

a {
	color: blue;
	font-weight: bolder;
}

h2 {
	text-align: center;
}

/*form input needs centering*/
textarea {
	color: gray;
	font-style: italic;
}

input {
	color: gray;
	text-align: center;
	font-style: italic;
}

input[type="submit"] 
{
	color: black;
}
p {
	text-align: center;
}